<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Faraday Bot</title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/all.min.css">
        <link rel="shortcut icon" href="images/favicon.ico" />
    </head>
    <body>
        <img src="images/logo.png" alt="Faraday Bot">
        <span class="bot-name">Faraday Bot</span>
        <a href="/auth/twitch">
            <button class="login-button">
                <i class="fab fa-twitch"></i>
                <span>Entrar com a Twitch</span>
            </button>
        </a>
    </body>
</html>