<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%=botName %></title>
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/all.min.css">
        <link rel="shortcut icon" href="images/favicon.ico" />
    </head>
    <body>
        <img src="images/logo.png" alt="<%=botName %>">
        <span class="bot-name"><%=botName %></span>
        <a href="/auth/twitch">
            <button class="login-button">
                <i class="fab fa-twitch"></i>
                <span><%=__('user-login-message')%></span>
            </button>
        </a>
    </body>
</html>